*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666;
}
h1, h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #000;
}
.button{
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
}

#header{
    text-align: center;
    margin: 25px 0 25px 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#logo{
    margin: 0 0 15px 0;
}
#header nav{
    margin: 15px 0 0 0;
}
#navLinks{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.navlink{
    text-transform: uppercase;
    font-size: 16px;
}
.navlink a{
    text-decoration: none;
    color: #666;
}
.navlink a:hover{
    color: #a32626;
}
main{
    padding: 0 15px;
}
#banner-intro .banner-intro-inner{
    text-align: center;
}
h1{
    font-size: 35px;
    line-height: 40px;
    margin: 30px 0 15px 0;
}
.pf-caption{
    font-size:20px;
    display:inline-block;
    margin: 0 0 20px 0;
}
.pf-button{
    background:#FF0000;    
    color: #fff;
    margin: 25px 0 0 0;
}